gradio
ftfy==6.3.1
numpy==1.26.3
opencv-python-headless==4.10.0.84
pandas==1.5.2
pillow==10.2.0
regex==2026.1.15
scikit-image==0.22.0
scikit-learn==1.4.0
scipy==1.11.4
timm==0.9.12
torch
torchvision
tqdm==4.66.1
